extends ../layouts/_layout

block variables
  - var activePage = 'user-management';

block content
  .app-title
    div
      h1
        i.fa.fa-address-card
        |  User Management
      p 
        | Users in your organization or company

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | User Management

  .row
    .col-md-12
      .tile
        .tile-title
          a.btn.btn-primary(href="/user-management/form") New User
        .tile-body
          .table-responsive
            table.table.table-hover.table-bordered#sampleTable
              thead
                tr
                  th Email
                  th Action

block specific-js
  // Data table plugin
  script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
  script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
  script(type='text/javascript', src="/js/lib/dataTables.buttons.js")
  script(type='text/javascript', src='/js/pages/user-management/index.js')
