extends ../layouts/_layout

block variables
  - var activePage = 'send-notifications';

block content
  .app-title
    div
      h1
        i.fa.fa-bell
        |  Send Notifications
      p 
        | This is for testing only.

    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Send Notifications

  //- .pb-2.mt-2.mb-4.border-bottom
  //-   h3 Send Notifications
  //-   p This is for testing only.

  .row
    .col-md-12
      .tile
        .row
          .col-md-12
            form(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              fieldset.form-group
                  label Radio buttons
                  .form-check
                      label.form-check-label
                          input#optionsRadios1.form-check-input(type='radio', name='userType', value='user', checked='')
                          | User
                  .form-check
                      label.form-check-label
                          input#optionsRadios2.form-check-input(type='radio', name='userType', value='client')
                          | Client

              .form-group
                  label(for='notificationType') Notification Type
                  select#notificationType.form-control
                      option System
                      option Crash
                      option Privacy Policy
                      option User
                      option Test
                  
              .form-group
                  fieldset
                      label.control-label(for='message') Message
                      input#message.form-control(type='text', placeholder='User is...')
              .form-group
                  button.btn.btn-primary(type='submit')
                      | Send
              //- if (unknownUser)
              //-   .form-group.row
              //-     label(class='col-md-2 col-form-label font-weight-bold', for='name') Name
              //-     .col-md-8
              //-       input.form-control(type='text', name='name', id='name', autocomplete='name', autofocus, required)
              //-   .form-group.row
              //-     label(class='col-md-2 col-form-label font-weight-bold', for='email') Email
              //-     .col-md-8
              //-       input.form-control(type='email', name='email', id='email', autocomplete='email', required)
              //- .form-group.row
              //-   label(class='col-md-2 col-form-label font-weight-bold', for='message') Please describe the issue or your suggestion
              //-   .col-md-8
              //-     textarea.form-control(name='message', id='message', rows='7', autofocus=(!unknownUser).toString(), required)
              //- .form-group
              //-   .offset-md-2.col-md-8.p-1
              //-     button.btn.btn-primary(type='submit')
              //-       i.far.fa-envelope.fa-sm
              //-       | Send
