extends ../layouts/_layout

block variables
  - var activePage = 'api';

block content
  .app-title
    div
      h1
        i.fas.fa-phone(style='color: #f00').fa-sm
        | Twilio API

    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        a(href="/api") APIs
      li.breadcrumb-item
        | Twilio

  .row
    .col-md-12
      .tile
        .row
          .col-lg-12
            .btn-group.d-flex(role='group')
              a.btn.btn-primary(href='http://twilio.github.io/twilio-node/', target='_blank').w-100
                i.far.fa-check-square.fa-sm
                | Twilio Node
              a.btn.btn-primary(href='https://www.twilio.com/docs/sms/debugging-tools', target='_blank').w-100
                i.fas.fa-laptop.fa-sm
                | Twilio Debugging Tools
              a.btn.btn-primary(href='https://www.twilio.com/docs/api/rest', target='_blank').w-100
                i.fas.fa-code-branch.fa-sm
                | REST API

            br

            .row
              .col-sm-6
                form(role='form', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label.control-label Number to text
                    input.form-control(type='text', name='number', autofocus)
                  .form-group
                    label.control-label Message
                    input.form-control(type='text', name='message')
                  button.btn.btn-raised(type='submit')
                    i.fas.fa-location-arrow.fa-sm
                    | Send