extends ../layouts/_layout

block variables
  - var activePage = 'api';

block content
  .app-title
    div
      h1
        i.fas.fa-upload.fa-sm
        | File Upload

    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        a(href="/api") APIs
      li.breadcrumb-item
        | File Upload

  .row
    .col-md-12
      .tile
        .row
          .col-lg-12

            .btn-group.d-flex(role='group')
              a.btn.btn-success(href='https://github.com/expressjs/multer', target='_blank').w-100
                i.fas.fa-book.fa-sm
                | Multer Documentation
              a.btn.btn-success(href='http://codepen.io/search/pens?q=custom+file+upload&limit=all&type=type-pens', target='_blank').w-100
                i.fas.fa-laptop.fa-sm
                | Customize File Upload

            h3 File Upload Form
            .row
              .col-md-6
                p All files will be uploaded to "/uploads" directory.
                form(role='form', enctype='multipart/form-data', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label.col-form-label.font-weight-bold File Input
                    .col-md-6
                      input(type='file', name='myFile')
                  button.btn.btn-primary(type='submit') Submit
